In [11]:
import sqlite3 as sql

In [27]:
con = sql.connect('sqlite_db_pythonsqlite.db')

In [28]:
curs = con.cursor()

In [45]:
#Question 10
Q10 = curs.execute("SELECT \
                f.name as Facility_Name, \
                SUM(CASE WHEN b.memid = 0 THEN b.slots*f.guestcost \
                WHEN b.memid > 0 THEN b.slots*f.membercost END) AS Revenue\
            FROM Bookings AS b\
            LEFT JOIN Members AS m\
                ON b.memid = m.memid\
            LEFT JOIN Facilities AS f\
                ON b.facid = f.facid\
            WHERE (CASE WHEN b.memid = 0 THEN b.slots*f.guestcost\
                WHEN b.memid > 0 THEN b.slots*f.membercost END) < 1000\
            GROUP BY Facility_Name\
            HAVING Revenue < 1000\
            ORDER BY Revenue;").fetchall()
print(Q10)

[('Table Tennis', 180), ('Snooker Table', 240), ('Pool Table', 270)]

In [50]:
#Question 11
Q11 = curs.execute("SELECT\
                    a.surname,\
                   a.firstname,\
                   b.surname,\
                   b.firstname\
                   FROM Members as a\
                   LEFT JOIN Members as b\
                   ON a.recommendedby = b.memid\
                   WHERE a.recommendedby IS NOT NULL\
                   ORDER BY a.surname;").fetchall()
print(Q11)

[('Bader', 'Florence', 'Stibbons', 'Ponder'), ('Baker', 'Anne', 'Stibbons', 'Ponder'), ('Baker', 'Timothy', 'Farrell', 'Jemima'), ('Boothe', 'Tim', 'Rownam', 'Tim'), ('Butters', 'Gerald', 'Smith', 'Darren'), ('Coplin', 'Joan', 'Baker', 'Timothy'), ('Crumpet', 'Erica', 'Smith', 'Tracy'), ('Dare', 'Nancy', 'Joplette', 'Janice'), ('Farrell', 'Jemima', None, None), ('Farrell', 'David', None, None), ('GUEST', 'GUEST', None, None), ('Genting', 'Matthew', 'Butters', 'Gerald'), ('Hunt', 'John', 'Purview', 'Millicent'), ('Jones', 'David', 'Joplette', 'Janice'), ('Jones', 'Douglas', 'Jones', 'David'), ('Joplette', 'Janice', 'Smith', 'Darren'), ('Mackenzie', 'Anna', 'Smith', 'Darren'), ('Owen', 'Charles', 'Smith', 'Darren'), ('Pinker', 'David', 'Farrell', 'Jemima'), ('Purview', 'Millicent', 'Smith', 'Tracy'), ('Rownam', 'Tim', None, None), ('Rumney', 'Henrietta', 'Genting', 'Matthew'), ('Sarwin', 'Ramnaresh', 'Bader', 'Florence'), ('Smith', 'Darren', None, None), ('Smith', 'Tracy', None, None), ('Smith', 'Jack', 'Smith', 'Darren'), ('Smith', 'Darren', None, None), ('Stibbons', 'Ponder', 'Tracy', 'Burton'), ('Tracy', 'Burton', None, None), ('Tupperware', 'Hyacinth', None, None), ('Worthington-Smyth', 'Henry', 'Smith', 'Tracy')]

In [58]:
#Question 12
Q12 = curs.execute("SELECT\
                    f.name as Facility,\
                   SUM(b.slots*30)/60 as Member_Usage_Hours\
                   FROM Bookings as b, Facilities as f\
                   WHERE b.facid = f.facid AND b.memid <> 0\
                   GROUP BY Facility;").fetchall()
print(Q12)

[('Badminton Court', 543), ('Massage Room 1', 442), ('Massage Room 2', 27), ('Pool Table', 428), ('Snooker Table', 430), ('Squash Court', 209), ('Table Tennis', 397), ('Tennis Court 1', 478), ('Tennis Court 2', 441)]

In [71]:
#Question 13
Q13 = curs.execute("SELECT\
                    f.name as Facility,\
                    strftime('%m', b.starttime) as Month,\
                    SUM(b.slots*30)/60 as Monthly_Usage_Hours\
                    FROM Bookings as b, Facilities as f\
                    WHERE b.facid = f.facid AND b.memid <> 0\
                    GROUP BY Facility;").fetchall()
print(Q13)

[('Badminton Court', '07', 543), ('Massage Room 1', '07', 442), ('Massage Room 2', '07', 27), ('Pool Table', '07', 428), ('Snooker Table', '07', 430), ('Squash Court', '07', 209), ('Table Tennis', '07', 397), ('Tennis Court 1', '07', 478), ('Tennis Court 2', '07', 441)]